.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.form-control {
	
}

.form-control {
	
}

.form-control {
	
}

.form-control {
	border-color: #197dff;
}

border-color: #197dff ; {
	
}