.itemContainer {
	width: 170px;
	height: 230px;
	border: 2px solid #006FFF;
	border-radius: 10px;
	background: #ffffff;
	margin-right: 20px;
	margin-bottom: 20px;
}

.itemContainer:hover {
	cursor: pointer;
}

#clzImg {
	width: 165px;
	height: 150px;
	border-radius: 10px 10px 0 0;
}

#classYear {
	color: gray;
	font-size: medium;
	margin: 10px 5px 10px 10px;
}

#subject {
	color: #006FFF;
	font-size: larger;
	margin-left: 10px;
}

#moreIcon {
	height: 15px;
	margin-top: 5px;
}

#moreIcon:hover {
	cursor: pointer !important;
}

.topTitle {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px !important;
	padding: 8px 10px 4px 10px;
	background: #1485E7;
	border-radius: 5px;
}

#titleTop {
	color: white;
	font-size: larger;
	font-weight: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listClass {
	margin: 20px 30px 20px 50px !important;
}

#btnUpload {
	height: 50px;
	margin: 80px 55px;
}

#btnUpload:hover {
	cursor: pointer;
	opacity: 0.6;
}

#mainImg {
	position: absolute;
	right: 50px;
	bottom: 60px;
	max-height: 350px;
	z-index: -1;
}