@charset "ISO-8859-1";

#btnUpdate, #btnDelete {
	border-radius: 50px;
	margin-left: 20px;
	border: none;
	padding: 5px 30px 5px 30px;
	color: white;
}

#btnUpdate {
	background: #FFD500;
}

#btnDelete {
	background: #FF002B;
}

.dividerTopic {
	border-top: 1px solid #707070;
	margin-top: 0;
	margin-bottom: 0;
}

.itemContainer {
	width: auto;
	height: auto;
	border: 1px solid #006FFF;
	border-radius: 10px;
	background: #ffffff;
	margin-right: auto;
	margin-bottom: auto;
	border-radius: 50px;
}

.itemContainer:hover {
	cursor: pointer;
}

.pageTopic {
	font-size: 15px;
	color: #636363;
	margin-top: 20px;
	margin-bottom: 20px;
}

#clzImg {
	width: 158px;
	height: 150px;
	border-radius: 10px 10px 0 0;
}

#lessonNum {
	color: gray;
	font-size: medium;
	margin: 10px 5px 10px 10px;
}

#title {
	color: #006FFF;
	font-size: large;
	margin-left: 10px;
}

#moreIcon {
	height: 15px;
	margin-top: 5px;
}

#moreIcon:hover {
	cursor: pointer !important;
}

.topTitle {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px !important;
	padding: 8px 10px 4px 10px;
	background: #1485E7;
	border-radius: 5px;
}

#titleTop {
	color: white;
	font-size: larger;
	font-weight: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listClass {
	margin: 20px 30px 20px 0px !important;
}

#btnUpload {
	height: 50px;
	margin: 80px 50px;
}

#btnUpload:hover {
	cursor: pointer;
	opacity: 0.6;
}

#youtubeV {
	width: 158px;
	height: 150px;
	border-radius: 10px 10px 0 0;
}

#stuInsertImg {
	height: 400px;
	margin-top: 20px;
	z-index: -1;
	position: absolute;
	margin-bottom: 50px;
}

#studentId {
	margin-left: 20px;
	margin-top: 300px;
	border-radius: 5px;
	border: 1px solid #006FFF;
	padding: 5px 10px;
	outline: none;
}

#btnSubmit {
	margin: 20px;
}

#reportImg {
	width: 150px;
	margin: 20px;
	margin-top: 50px;
}

#btnReport {
	margin-top: 100px;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.txtheader {
	padding: 10px;
	border-radius: 15px;
	background: #0080ff;
	color: white;
	font-size: 20px;
}

.txt2 {
	width: 100%;
	border-radius: 15px;
	background: #00ff00;
	color: white;
	font-size: 20px;
}

#btnReturn {
	padding: 10px 20px 25px 0;
	border-radius: 15px;
	background: #ffffff;
	color: #00ff40;
	padding: 5px 10px;
	font-size: 20px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

div.imgPMT {
	display: inline-block;
	vertical-align: top;
}

.img2 {
	display: inline-block;
	vertical-align: top;
}

.wrapper {
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	border-radius: 50px;
}

/* Table */ /* Table */ /* Table */ /* Table */ /* Table */ /* Table */
/* Table */

/* spacing */
table {
	table-layout: auto;
	width: 10px;
	border-collapse: separate;
	border: 5px solid #0080ff;
	border-radius: 25px;
}

thead th:nth-child(1) {
	width: 5%;
}

thead th:nth-child(2) {
	width: 5%;
}

thead th:nth-child(3) {
	width: 5%;
}

thead th:nth-child(4) {
	width: 5%;
}

th, td {
	padding: 5px;
}

#contents {
	width: 800px;
}

#contents table {
	width: 390px;
}

#table_one {
	float: left;
}

.h1a {
	style ="width: 45%;
	height: 100px;
	float: left;
}

.h1b {
	style ="margin-left: 45%;
	width: 45%;
	height: 100px;
}

/* Payment Form */
.form-pay {
	display: inline-block;
	vertical-align: top;
	max-width: 700px;
	padding: 5px 80px 25px;
	margin: 50px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	border: solid #1485E7;
	.
	form-signin-heading
	,
	.checkbox
	{
	margin-bottom
	:
	30px;
}

.checkbox {
	font-weight: normal;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@
	include
	box-sizing(border-box);
	&:
	focus
	{
	z-index
	:
	2;
}

}
input[type="number"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.bottonPay {
	border-radius: 50px;
	margin-left: 20px;
	border: none;
	padding: 5px 30px 5px 30px;
	color: white;
}
}