@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Red+Hat+Display&display=swap');
* {
    padding: 0;
    margin: 0;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.sidenav::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.sidenav {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidenav {
    min-width: 250px;
    width: 18vw;
    height: 100vh;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 10px !important;
    background: #ffffff;
    overflow-x: hidden;
    box-shadow: rgb(231, 231, 231) 2px 2px 2px;
    padding: 8px 0;
}

.mainSideNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 121, 121);
    display: block;
}

.mainSideNav a:hover {
    text-decoration: none;
    background: #63ceff34 !important;
    border-radius: 0px 50px 50px 0px;
    margin-right: 5px;
    color: #006eff !important;
}

.active {
    text-decoration: none;
    background: #63ceff34 !important;
    border-radius: 0px 50px 50px 0px;
    margin-right: 5px;
    color: #006eff !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.userNameSideNavBar {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: rgb(121, 121, 121);
    font-size: 17px;
    margin-left: 20px;
}

#dropDown1 {
    display: none;
    margin-top: 20px;
}

#rowDropDown1 {
    display: block;
    margin-left: 20px;
    padding-bottom: 5px;
}

#rowDropDown1 a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(121, 121, 121);
}

.textDropdownAvtar {
    padding-left: 10px;
}

#rowDropDown1 :hover {
    color: #006eff;
    cursor: pointer;
    font-weight: bold;
}

#dropDownIcon:hover {
    color: #006eff;
    cursor: pointer;
}

#dropDownIcon {
    margin-left: 20px;
    color: rgb(121, 121, 121);
}

#dropDownContent {
    display: none;
    min-width: 150px;
}

.dropdown:hover #dropDownContent {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    right: 10px;
    float: right;
}

#rowDropDown2 {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

#rowDropDown2 a {
    text-decoration: none;
    color: #3a3a3a;
}

#rowDropDown2 :hover {
    color: #006eff;
    cursor: pointer;
}

#textLogOut {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #3a3a3a;
    background: none;
    text-decoration: none;
    padding-left: 20px;
}

#textMainNavi {
    color: #727272;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

.iconMainNavi {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

#navToIndex {
    text-decoration: none;
}

#navToIndex :hover {
    cursor: pointer;
}

body {
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navBig {
    background: #ffffff;
    height: 50 px;
    min-width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: rgb(231, 231, 231) -5px 5px 5px;
    left: 0;
}

.navSmall {
    background: #ffffff;
    height: 50 px;
    margin-left: 18vw;
    width: 82vw;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: rgb(231, 231, 231) 0px 5px 5px;
    left: 0;
}

label.logoLabel {
    color: rgb(0, 119, 255);
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat Subrayada';
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 50 px;
    display: inline-block;
    margin: 0 5px;
}

.container {
    position: relative;
    overflow: hidden;
    display: block;
    padding-bottom: 50px;
    padding-top: 50 px;
    min-height: 100vh;
    max-height: max-content;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
}

#navPage {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 13px;
    font-family: "Roboto";
}

#navPage:hover {
    border-bottom: white solid 2px;
    font-size: 15.10px;
    transition: 0.25s;
    color: white !important;
}

#specialBtn {
    float: right !important;
    margin: auto;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #fa2222 !important;
    border-color: white !important;
    color: white !important;
    display: inline;
}

#specialBtn:hover {
    background-color: white !important;
    color: #fa2222 !important;
}

#userIcon {
    position: relative;
    border: white solid 2px;
    height: 45px;
    width: auto;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 20px;
    box-shadow: rgb(218, 218, 218) 0px 0px 0px 2px;
}

#userSideNav {
    float: left;
    height: 40px;
    width: auto;
    border-radius: 50px;
    margin: 0;
    margin-left: 20px !important;
}

#imgUserSideNav {
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logoNav {
    float: right;
    border: white solid 2px;
    height: 45px;
    width: auto;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 20px;
}

.checkbtn {
    font-size: 30px;
    color: wheat;
    float: left;
    line-height: 50 px;
    margin-right: 40px;
    display: inline-block;
}

#check {
    display: none;
}

#sideNavBar {
    height: 25px;
    line-height: 50px;
    margin-left: 20px;
}


/*Social media icons*/

.iconF1 {
    height: 20px;
    width: auto;
    display: inline;
    margin-left: 100px;
    margin-right: 10px;
    line-height: 50px;
}

.iconF {
    height: 25px;
    width: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    padding-right: 15px;
}

#fb,
#yt,
#tw,
#in {
    position: relative;
    left: 20px
}

.linkF {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

#Foot_copyright {
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(121, 121, 121);
}


/*Page Conatainer*/

.pageContainer {
    margin-left: 250px;
    width: 82vw;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 50px;
}   padding: 50px;
}