* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*Page Topic*/
.pageTopic {
	font-size: 15px;
	color: #636363;
}

.dividerTopic {
	border-top: 1px solid #707070;
	margin-top: 0;
	margin-bottom: 0;
}

/*Not Replied Questions*/
.questionContainer {
	padding: 0 20px 20px 20px;
}

.userAvatar {
	height: 40px;
	width: 40px;
	margin-left: 0;
}

.name, .date {
	color: #6D6D6D;
	font-size: 12px;
	margin-left: 5px;
}

.name {
	margin-top: 5px;
	margin-bottom: 0;
}

.date {
	margin-top: 0;
}

.question {
	border: 1px solid #006FFF;
	border-radius: 7px;
	min-height: 50px;
	margin-top: 5px;
	padding: 10px;
	font-size: 12px;
	color: #6D6D6D;
}

.QuestionBox {
	margin: 10px;
}

.btnReply {
	margin-top: 10px;
	border-radius: 50px !important;
	padding: 3px 40px 3px 40px !important;
	font-size: 12px !important;
}

.answerQ {
	border: 1px solid #F01616;
	border-radius: 7px;
	padding: 10px 0px 10px 0;
	min-height: 50px;
	font-size: 12px;
	color: #6D6D6D;
	margin-top: 5px;
}

.btnEdit {
	margin-top: 10px;
	border-radius: 50px !important;
	padding: 3px 40px 3px 40px !important;
	font-size: 12px !important;
}

#reply {
	margin: 0;
	padding: 0;
	border: none;
	width: 400px;
	outline: none;
}