#lessonName {
    background: #006FFF;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    font-size: large;
    border-radius: 5px;
    color: white;
}

#introLesson {
    margin-top: 10px;
    margin-left: 20px;
    width: 500px;
    color: gray;
    text-align: justify;
}

#btnUpdate,
#btnDelete {
    border-radius: 50px;
    margin-left: 20px;
    border: none;
    padding: 5px 30px 5px 30px;
    color: white;
}

#btnUpdate {
    background: #FFD500;
}

#btnDelete {
    background: #FF002B;
}

.pageTopic {
    font-size: 15px;
    color: #636363;
    margin-top: 20px;
}

.dividerTopic {
    border-top: 1px solid #707070;
    margin-top: 0;
    margin-bottom: 0;
}

.itemContainer {
    width: 160px;
    height: 230px;
    border: 1px solid #006FFF;
    border-radius: 10px;
    background: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.itemContainer:hover {
    cursor: pointer;
}

#clzImg {
    width: 158px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

#lessonNum {
    color: gray;
    font-size: medium;
    margin: 10px 5px 10px 10px;
}

#title {
    color: #006FFF;
    font-size: large;
    margin-left: 10px;
}

#moreIcon {
    height: 15px;
    margin-top: 5px;
}

#moreIcon:hover {
    cursor: pointer !important;
}

.topTitle {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px !important;
    padding: 8px 10px 4px 10px;
    background: #1485E7;
    border-radius: 5px;
}

#titleTop {
    color: white;
    font-size: larger;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listClass {
    margin: 20px 30px 20px 0px !important;
}

#btnUpload {
    height: 50px;
    margin: 80px 50px;
}

#btnUpload:hover {
    cursor: pointer;
    opacity: 0.6;
}

#youtubeV {
    width: 158px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

#stuInsertImg {
    height: 400px;
    margin-top: 20px;
    z-index: -1;
    position: absolute;
    margin-bottom: 50px;
}

#studentId {
    margin-left: 20px;
    margin-top: 300px;
    border-radius: 5px;
    border: 1px solid #006FFF;
    padding: 5px 10px;
    outline: none;
}

#btnSubmit {
    margin: 20px;
}

#reportImg {
    width: 150px;
    margin: 20px;
    margin-top: 50px;
}

#btnReport {
    margin-top: 100px;
}